<div class="container-own bg-setting style style6">
  <div class="content-single-product opaque-bg shadow">
    <div class="row" data-product-id="<%= @product.id %>">
      <!-- <% cache @product do %> -->
        <h1 class="centered-text producth1">
          <%= @product.name %>
        </h1>
        <div class="col col-xs-12 col-md-6">
          <%= image_tag(@product.image_url, alt: "product-image", width:"100%", class: "single-product-image img-zoom", data_zoom_image:"#{@product.image_url}") %>
        </div><!--end col-->
        <div class="col col-xs-12 col-md-6">
          <div class="text-col">
            <h2>Product information</h2>

            <table>
              <tr>
                <td>Color</td>
                <td><%= @product.colour %></td>
              </tr>
              <tr>
                <td>Price </td>
                <td><%=(number_with_precision(((@product.price.to_d)/100), precision:2))%> $</td>
              </tr>
              <tr>
                <td>Description</td>
                <td><%= @product.description %></td>
              </tr>
            </table>

            <h2>Average Rating</h2>
            <div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div>

            <h2>Highest Rating Comment</h2>
            <% if @product.highest_rating_comment %>
              <p class="product-p">
                <%= @product.highest_rating_comment.body %>
              </p>
            <% end %>

            <h2>Lowest Rating Comment</h2>
            <% if @product.lowest_rating_comment %>
              <p class="product-p">
                <%= @product.lowest_rating_comment.body %>
              </p>
            <% end %>
          <!-- <% end %> -->

          <h2>Product views:
            <span class="badge"><%= @product.views%></span>
          </h2>
          <p id="notice"><%= notice %></p>
          <div class="error"></div>
          <% if signed_in? %>
            <%= form_tag(url: '/payments/create') do |form| %>
              <%= hidden_field_tag(:product_id, @product.id)%>
              <%= render partial: "shared/stripe_checkout_button" %>
            <% end %>
          <% else %>
            <p><strong>Please sign in to order and pay with Stripe</strong></p>
          <% end %>
          <br><br>
          <p><%= link_to 'Back', products_path %></p>
        </div><!--end text-col-->
      </div><!--end col-->
    </div><!--end row-->

    <!-- new comment if signed in -->
    <% if signed_in? %>
    <div data-turbolinks: true>
      <%= render partial: "new_comment"%>
    </div>
    <% end %>

    <!-- alerts if new comments -->
    <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
    <!--renders all comments from current product -->
    <%= render 'comments', product: @product%>
  </div><!--end content-->
</div><!--end container-->
