<div class="container-own bg-setting style style6">
  <div class="content-single-product opaque-bg shadow">
    <div class="row">
      <h1 class="centered-text producth1"><%= @product.name %></h1>
      <div class="col col-xs-12 col-md-6">
        <%= image_tag(@product.image_url, alt: "product-image", class: "single-product-image") %>
      </div><!--end col-->
      <div class="col col-xs-12 col-md-6">
        <div class="text-col">
        <h4>Product information</h4>
        <table>
          <tr>
            <td>Color</td>
            <td><%= @product.colour %></td>
          </tr>
          <tr>
            <td>Price </td>
            <td><%=(number_with_precision(((@product.price.to_d)/100), precision:2))%> $</td>
          </tr>
          <tr>
            <td>Description</td>
            <td><%= @product.description %></td>
          </tr>
        </table>
        <h4>Average Rating</h4>
        <div class="rated" data-score="<%= @product.average_rating %>"></div>

        <h4>Highest Rating Comment</h4>
        <% if @product.highest_rating_comment %>
          <%= @product.highest_rating_comment.body %>
        <% end %>
        <h4>Lowest Rating Comment</h4>
        <% if @product.lowest_rating_comment %>
          <%= @product.lowest_rating_comment.body %>
        <% end %>
        <p id="notice"><%= notice %></p>
        <%= form_tag(url: '/payments/create') do |form| %>
          <%= render partial: "shared/stripe_checkout_button" %>
        <% end %>
        </div><!--end text-col-->
      </div><!--end col-->
    </div><!--end row-->
    <div class="row">
      <div class="col xs-12">
        <p class="centered-text"><%= link_to 'Back', products_path %></p>
      </div>
    </div><!--end row-->

    <!-- new comment if signed in -->
    <% if signed_in? %>
      <h4>Add a review:</h4>
      <p>
        <%= form_for([@product, @product.comments.build]) do |f| %>
          <%= f.label :body, "Comments" %>
          <%= f.text_area :body, :class => 'form-control' %>
          <div class="rating"></div>
          <%= f.submit "Submit", :class => "btn btn-default" %>
        <% end %>
      </p>
    <% end %>
    <%= render 'comments', product: @product%>
  </div><!--end content-->
</div><!--end container-->
